<h1>Liste des Cocktails</h1>

<ul>
<% @cocktails.each do |cocktail| %>
  <li>
    <p><%= link_to cocktail.name, cocktail_path(cocktail)%></p>
  </li>
<% end %>
</ul>

<%= link_to 'Create a cocktail', root_path %>

