<footer class="footer-basic-centered">
  <p class="footer-company-motto">Mister Cocktail</p>
    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About Us</a>
      ·
      <a href="#">FAQ</a>
      ·
      <a href="#">Contact</a>
    </p>
    <p class="footer-company-name">Le Wagon Inc. Company &copy; 2016 - Palo Alto, California</p>
</footer>
